.headline {
    visibility: hidden !important;
     line-height: 0 !important;
}

.event-date{
  visibility: hidden !important;
    line-height: 0 !important;
}
.event-time{
  visibility: hidden !important;
    line-height: 0 !important;
}
button.register-button {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border: none !important;
}
